Source: spotifyd
Section: sound
Priority: optional
Maintainer: Nico Kaiser <nico@kaiser.me>
Build-Depends:
 debhelper (>= 11),
 cargo:native (>= 0.38),
 rustc:native (>= 1.37),
 libstd-rust-dev (>= 1.37),
 libasound2-dev,
 libssl-dev,
 libdbus-1-dev
Standards-Version: 4.1.3
Homepage: https://github.com/spotifyd/spotifyd
#Vcs-Browser: https://salsa.debian.org/debian/spotifyd
#Vcs-Git: https://salsa.debian.org/debian/spotifyd.git

Package: spotifyd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: An open source Spotify client running as a UNIX daemon.
 Spotifyd streams music just like the official client, but is more
 lightweight and supports more platforms.  Spotifyd also supports the Spotify
 Connect protocol, which makes it show up as a device that can be controlled
 from the official clients.
 .
 Note: Spotifyd requires a Spotify Premium account.
