#!/usr/bin/make -f

include /usr/share/dpkg/architecture.mk
include /usr/share/rustc/architecture.mk

%:
	dh $@

override_dh_auto_clean:
	cargo clean

override_dh_auto_build-arch:
	PKG_CONFIG_ALLOW_CROSS=1 PKG_CONFIG_PATH="/usr/lib/${DEB_TARGET_MULTIARCH}/pkgconfig" cargo build --target "${DEB_TARGET_RUST_TYPE}" --release --no-default-features --features alsa_backend,dbus_keyring,dbus_mpris
